<html ng-app="Myapp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="module.js"></script>
    </head>
    <body ng-app>
        <h1>
                {{1+2}}
        </h1>
         <div ng-controller="MyController"> 
                <input type="text" ng-model="message"> </input>
             {{message}}
             {{Data}}
             <!-- Inside Div elements:{{1+2}} -->
         </div>
         <div ng-controller="Student"> 
             FirstName : {{Student.FirstName}}
             <br>

             LastName : {{Student.LastName}}
         </div>
      
    </body>
</html>